body{
    margin: 0%;
}



.body {
    background-image: url('./img/desktopImage.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
    border: 0;
    padding: 0%;

}

@media only screen and (max-width: 600px) {
    .body {
        background-image: url('./img/mobileImage.jpg');

    }
}